<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="cabecalho">
        <div id="logo-busca">
            <h1 id="logo">Estante Web</h1>
            <form action="" id="form-busca">
                <img src="/imgs/search_icon.svg" alt="" id="icon-busca">
                <input type="search" name="busca" id="busca">
                <button id="icon-mic"><img src="/imgs/mic_icon.svg" alt="" ></button>
            </form>
        </div>
        <nav id="menu-nav">
            <a href="../index.html">Início</a>
            <a href="quem_somos.html">Quem Somos</a>
            <a href="contatos.html">Contato</a>
            <a href="favoritos.html" class="alinhar"><img src="/imgs/star_icon.svg" alt="">Favoritos</a>
            <a href="login.html">Login</a>
        </nav>
    </header>

    <main id="conteudo-livros">
        <div id="modal-livros">
            <div id="btn-livros">
                <h1>Getenciar Livros</h1>
                <a id="add-livros" href="adicionar-livro.html">Adicionar</a>
                <a class="btn-back" href="perfil.html"><img src="../imgs/back-icon.svg" alt=""></a>
            </div>
            <div id="tabela-livros">

                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
                <div class="livro">
                    <img src="../imgs/livro01-quarta-capa.jpg" alt="">
                    <h1>Quarta Capa</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro02-vovo-virou-semente.jpg" alt="">
                    <h1>Vovó Virou Semente</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>

                <div class="livro">
                    <img src="../imgs/livro03-a-nevoa-da-floresta.webp" alt="">
                    <h1>A Nevoa da Floresta</h1>
                    <span class="edit-livro-icon"><a href="editar-livro.html"><img src="../imgs/edit-icon.svg" alt=""></a></span>
                </div>
            </div>
            </div>
        </div>
    </main>
    <footer id="rodape">
        <div id="copy"><p>&copy; Estante Web</p></div>
        <div><p>Todos os direitos reservados</p></div>
        <div id="img-social">
            <img src="/imgs/facebook_icon.svg" alt="" width="30px" height="30px">

            <img src="/imgs/instagram_icon.svg" alt="" width="30px" height="30px">
        </div>
    </footer>
</body>
</html>